body {
  --slack-color: #3f0f40;
  overflow-y: scroll;
  overflow-x: hidden;
}

.app-body {
  display: flex;
  height: 100vh;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-size: medium;
  text-align: center;
}

.app-content > p {
  padding: 10px 0;
}
